.idea
.idea/
.idea/workspace.xml
.idea/ZarokGame.iml
/.idea/
out/
out
/out/
/resources/css-default/global-background-color.css
/resources/css/color-variables.css
ZarocGame.iml
/ZarocGame.iml
build
build/
/build/
build/output
/build/output
/build/output/